/*============ CSS BEGIN ============*/
/* Geniral style */
* {padding: 0; margin: 0; font-family: 'Roboto Condensed', sans-serif;}
header, nav, section, article, aside, footer {display: block;}
html, body {height: auto; max-height: 100%;}
body {background: #fff; font-size: 16px; color: #242424; font-family: 'Roboto Condensed', sans-serif;}
fieldset {border: none; margin: 0; padding: 0;}

/* Link Style */
a {text-decoration: none;}

.px10 {font-size: 10px;}
.px12 {font-size: 12px;}
.px13 {font-size: 13px;}
.px14 {font-size: 14px;}
.px16 {font-size: 16px;}
.px18 {font-size: 18px;}
.px20 {font-size: 20px;}
.px22 {font-size: 22px;}
.px23 {font-size: 23px;}
.px24 {font-size: 24px;}
.px25 {font-size: 25px;}
.px26 {font-size: 26px;}
.px27 {font-size: 27px;}
.px28 {font-size: 28px;} 
.px30 {font-size: 30px;}
.px32 {font-size: 32px;}
.px34 {font-size: 34px;}
.px35 {font-size: 35px;}
.px36 {font-size: 36px;}
.px38 {font-size: 38px;}
.px40 {font-size: 40px;}
.px42 {font-size: 42px;}
.px43 {font-size: 43px;}
.px44 {font-size: 44px;}
.px45 {font-size: 45px;}
.px48 {font-size: 48px;}
.px50 {font-size: 50px;}
.px52 {font-size: 52px;}
.px53 {font-size: 53px;}
.px55 {font-size: 55px;}
.px58 {font-size: 58px;}
.px60 {font-size: 60px;}
.px74 {font-size: 74px;}
.px80 {font-size: 80px;}
.px87 {font-size: 87px;}
.px100 {font-size: 100px;}
.px132 {font-size: 132px;}

.w300 {font-weight: 300;}

.normal {font-weight: normal;}
.bold {font-weight: 700;}
.italic {font-style: italic;}
.center {text-align: center;}
.alleft {text-align: left;}
.alright {text-align: right;}
.upp {text-transform: uppercase;}
.under {text-decoration: underline;}
.no-padding {padding: 0;}
.lh180 {line-height: 180%;}
.lh160 {line-height: 160%;}
.lh140 {line-height: 140%;}
.lh120 {line-height: 120%;}
.vmid {vertical-align: middle;}
.left {float: left;}
.right {float: right;}

.abs {position: absolute;}
.rel {position: relative;}

/* Flex */
.flex {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch;}
.flex-between {justify-content:space-between; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify;}
.flex-around {justify-content:space-around; -webkit-align-content: space-around;  -ms-flex-line-pack: distribute;}
.flex-center {justify-content:center; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center;}
.flex-left {justify-content: flex-start; -webkit-justify-content: flex-start;  -ms-flex-pack: start;}
.flex-right {justify-content: flex-end; -webkit-justify-content: flex-end; -ms-flex-pack: end;}

.flex-top {align-items:flex-start; -webkit-align-items: flex-start; -ms-flex-align: start; }
.flex-mid {align-items:center; -webkit-box-align: center;  -webkit-align-items: center;  -ms-flex-align: center;}
.flex-bot {align-items:flex-end; -webkit-align-items: flex-end; -ms-flex-align: end;}

.flex-wrap {flex-wrap: wrap; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap;}

.flex-column {flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal;  -webkit-flex-direction: column;  -ms-flex-direction: column;}
.flex-column-rev {flex-flow: column-reverse; -webkit-flex-direction: column-reverse;  -ms-flex-direction: column-reverse; -moz-box-direction: reverse; -webkit-box-direction: reverse;}
.flex-row {flex-direction: row; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row;}
.flex-row-rev {flex-flow: row-reverse;  -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -moz-box-direction: reverse; -webkit-box-direction: reverse;}

.nopoint {pointer-events: none;-o-pointer-events: none;-webkit-pointer-events: none;}

/* Display style */
.inline-b {display: inline-block; zoom: 1; *display: inline;}
/* Clear */
.clearfix:after {content: ""; display: table; clear: both; *zoom: 1;}
/* Preloader */
#preloader {position: absolute; top: 5px; left: 5px;}
/* To top */
#to-top {position: fixed; bottom: 15px; right: 15px; display: none; cursor: pointer; color: #bbcf15; font-size: 40px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.53);}

/*============ FORM ============*/
input {
  width: 100%;
  margin-top: 10px;
  height: auto;
  line-height: 42px;
  margin: 0 auto 15px;
  border: 2px solid #f3f3f3;
  text-indent: 25px;
  font-size: 20px;
  background: #fff; 
  color: #000; 
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


::-webkit-input-placeholder {font-size: 16px; color:#4e4e4e;}
::-moz-placeholder          {font-size: 16px; color:#4e4e4e;}
:-moz-placeholder           {font-size: 16px; color:#4e4e4e;}
:-ms-input-placeholder      {font-size: 16px; color:#4e4e4e;}



